@use "sass:color";

$site-width-max: 24cm;
$site-width-min: 10cm;

$text-color: #222;
$link-color: #00e;

$site-margin: 1vh;

$bordered-background: #eee;
$bordered-selection: #8cf;
$bordered-activated: color.scale($bordered-selection, $lightness: 50%);

@mixin rounded-borders-transition {
    transition: all .25s ease;
}

@mixin rounded-borders {
    @include rounded-borders-transition;
    border-radius: 2pt;
    padding: 1pt 4pt 1pt 4pt;
    margin: 4px;
    background-color: $bordered-background;
}

@mixin rounded-borders-sel {
    @include rounded-borders-transition;
    @include rounded-borders;
    background: $bordered-selection;
}

@mixin rounded-borders-click {
    @include rounded-borders-transition;
    @include rounded-borders;
    background: $bordered-activated;// #cef;
}
