$site-width-max: 24cm;
$site-width-min: 10cm;
$text-color: #222;

$site-margin: 1vh;

@mixin rounded-borders-transition {
    transition: all .25s ease;
}

@mixin rounded-borders {
    @include rounded-borders-transition;
    border-radius: 2pt;
    padding: 1pt 4pt 1pt 4pt;
    margin: 4px;
    background-color: #eee;
}

@mixin rounded-borders-sel {
    @include rounded-borders-transition;
    @include rounded-borders;
    background: #8cf;
}
