@import 'constants';

body {
  height: 100vh;
  display: flex;
  flex-direction: column;

  background: fixed linear-gradient(#ffffff, #f0ffff);
  color: $text_color;
  font-family: sans-serif;
  margin: 4px auto 4px auto;
  max-width: $site_width;
  cursor: default;
}

header {
  position: fixed;
  top: 0;
  width: $site_width;
  margin-bottom: 1rem;
  background-color: #ffffff;
}

main {
  padding-top: 5rem;
  flex: 1;
}

footer {
  margin-top: 1rem;
  width: 100%;
  background-color: #f0ffff;
}

.footercontent {
  @include rounded-borders;
  border-top: 1px solid $text_color;
  margin: 0px 0px 4px 0px;
}

a {
  text-decoration: none;
  color: #00e;
}

@import "paginate";

@import "menus";

@import "terms";
