@import 'constants';

body {
  background: fixed linear-gradient(#ffffff, #f0ffff);
  color: #222;
  font-family: sans-serif;
  margin: auto;
  max-width: 768px;
  cursor: default;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  text-decoration: none;
  color: #00e;
}

$paginator_anim: all .25s ease;

.paginate div {
  transition: $paginator_anim;
  color: #222;
  text-decoration: none;
}

.paginate:hover div {
  @include rounded-borders;
  transition: $paginator_anim;
  margin-left: 3pt;
  padding: 0pt 2pt 0pt 2pt;
  background-color: #ddd;
  cursor: pointer;
}

.paginate h2 {
  color: #00e;
  text-decoration: none;
  transition: $paginator_anim;
}

.paginate:hover h2 {
  color: #28e;
  transition: $paginator_anim;
}

$menus_item_hover:
  all .25s ease;

.menus {
  padding: 0;
  margin: 0;
  min-width: 768px;
  height: fit-content;
}

.menus ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menus ul li {
  display: inline-block;
  width: max-content;
  text-align: center;
}

.menus ul h2 {
  @include rounded-borders;
  color: #222;
  font-size: 12pt;
  padding: 2pt;
  background: transparent;
  transition: $menus_item_hover;
}

.menus ul h2:hover {
  @include rounded-borders;
  background: #8cf;
  transition: $menus_item_hover;
}
