@use 'constants' as *;
@use 'sass:color';

html {
    background: $html-color;
}

main h1:first-child {
    margin-top: 0;
}

h1:has(+ time),
h1:has(+.spotlight-section) {
    margin-bottom: 0px;
}

h1+time {
    font-weight: bold;
    color: color.scale($text-color, $lightness: 40%);
}

div.spotlight {
    margin-bottom: 2vh;
}

div.spotlight p.spotlight-section {
    display: inline;
    font-weight: bold;
    color: color.scale($text-color, $lightness: 40%);
}

div.spotlight p.spotlight-section time {
    margin: 0;
    padding: 0;
}

div.spotlight a.read-more {
    font-weight: bold;
    text-decoration: none;
}

div.spotlight a.read-more div {
    @include rounded-borders;
    @include rounded-borders-transition;
    text-align: center;
    display: inline-block;
    margin: 0;
}

div.spotlight a.read-more:hover div {
    @include rounded-borders-sel;
    @include rounded-borders-transition;
    margin: 0;
}

div.spotlight a.read-more:active div {
    @include rounded-borders-click;
    @include rounded-borders-transition;
    margin: 0;
}

img {
    border-radius: $border-radius;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    color: $text-color;
    font-family: sans-serif;

    cursor: default;
}

header {
    @include rounded-borders;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border-bottom: 1px solid $text_color;

    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

main {
    z-index: 2;
    flex: 1;
    margin: 0 auto 0 auto;
    padding: 6pt;

    min-width: $site-width-min;
    width: 97.5%;
    max-width: $site-width-max;

    background-color: #fff;
}

footer {
    @include rounded-borders;
    border-radius: 0;
    border-top: 1px solid $text-color;
    margin: 0px;
    padding: 6pt 0;

    width: 100%;
    font-size: 10pt;
    z-index: 10;
}

.footercontent {
    padding: 0 6pt;
}

.footercontent>* {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: $link-color;
}

a[href^=http]:not(.hide-outlink)::after {
    content: "↗";
}

.listbox {
    @include rounded-borders;
    padding: 4px 6px;
    margin-top: 4px;
    margin-bottom: 4px;
}

a:has(.listbox),
a.listbox {
    display: block;
    width: max-content;
    color: $text-color;
    text-decoration: none;
}

:where(a) .listbox,
a.listbox {
    @include rounded-borders-transition;
}

:where(a:hover) .listbox,
a.listbox:hover {
    @include rounded-borders-sel;
    margin-left: 0px;
    margin-right: 0px;
    padding: 4px 10px;
}

:where(a:active) .listbox,
a.listbox:active {
    @include rounded-borders-click;
    margin-left: 8px;
    margin-right: 8px;
    padding: 4px 2px;
}

h1>a {
    text-decoration: none;
    color: $link-color;
}

.center {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

div.file-input label:has(>img) {
    display: flex;
    flex-direction: row;
}

div.file-input>input[type="file"] {
    display: none;
}

div.file-input>label {
    display: block;
    cursor: pointer;
    width: 100%;
}

div.file-input>label:has(img)>p {
    display: inline-block;
    flex: 1;
    margin: auto 0;
    word-wrap: normal;
}

div.file-input>label>img {
    display: inline-block;
    grid-column: img;
    width: 7.5mm;
    margin: auto;
    padding: 4px;
}

button,
input[type="button"] {
    padding: 4px;
}

button,
input[type="button"],
div.file-input,
select {
    @include rounded-borders-transition;
    display: inline-block;
    border-radius: $border-radius;
    background-color: $bordered-background;
    border: 1px solid $bordered-border;
    transition: 250ms ease all;
    cursor: pointer;
}

button:hover,
input[type="button"]:hover,
div.file-input:has(>input[type="file"]):hover {
    background: $bordered-selection;
    border: 1px solid $bordered-selection-border;
}

button:active,
input[type="button"]:active,
div.file-input:has(>input[type="file"]):active {
    background: $bordered-activated;
    border: 1px solid $bordered-activated-border;
}

.monospace {
    font-family: monospace;
}

div.flex-region {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
