@use "sass:color";
@use "constants" as *;

.menus {
    @include site-size-constraint;
    @include rounded-borders;
    border-radius: 0;

    padding: 0;
    margin: 0px auto;
    display: block;
}

.menus a {
    text-decoration: none;
}

.menus>.top-row {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin: 6pt 6pt 0 0;
    height: fit-content;
}

.menus>.top-row>.home {
    margin-right: auto;
}

.menus>.top-row>a:not(.home) {
    @include rounded-borders-transition;
    font-size: 20pt;
    margin: auto 0 0 6pt;
    color: $text-color;
}

.menus>.top-row>a:hover {
    @include rounded-borders-transition;
    color: $link-color;
}

.menus>.top-row>a:active {
    @include rounded-borders-transition;
    color: color.scale($link-color, $lightness: 50%);
}

.menus h1 {
    @include rounded-borders;
    @include rounded-borders-transition;
    font-size: 20pt;
    margin-top: 0;
    margin-bottom: 0;
    color: $text_color;
    border: none;
}

.menus h1:hover {
    @include rounded-borders-sel;
    @include rounded-borders-transition;
    margin-top: 0;
    margin-bottom: 0;
}

.menus h1:active {
    @include rounded-borders-click;
    @include rounded-borders-transition;
    margin-top: 0;
    margin-bottom: 0;
}

.menus nav {
    display: contents;
}

.menus h2 {
    @include rounded-borders;
    font-size: 8pt;
    margin-top: 0pt;
    margin-bottom: 0pt;
    color: color.scale($text_color, $lightness: 40%);
}

.menus ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menus ul li {
    display: inline-block;
    width: max-content;
    text-align: center;
    margin-left: 4px;
}

.menus ul h2 {
    @include rounded-borders;
    @include rounded-borders-transition;
    margin-left: 0;
    margin-right: 0;
    color: $text_color;
    font-size: 12pt;
    background: transparent;
}

.menus ul a:hover h2 {
    @include rounded-borders-sel;
    @include rounded-borders-transition;
    margin-left: 0;
    margin-right: 0;
}

.menus ul a:active h2 {
    @include rounded-borders-click;
    @include rounded-borders-transition;
    margin-left: 0;
    margin-right: 0;
}
