@use "sass:color";
@use "constants" as *;

.menus {
    @include rounded-borders;
    border-radius: $border-radius $border-radius 0 0;
    padding: 0;
    margin: 0px;
    min-width: 100%;
    display: inline-block;
    border-bottom: 1px solid $text_color;
}

.menus h1 {
    @include rounded-borders;
    @include rounded-borders-transition;
    margin-top: 6pt;
    margin-bottom: 0;
    color: $text_color;
}

.menus h1:hover {
    @include rounded-borders-sel;
    @include rounded-borders-transition;
    margin-top: 6pt;
    margin-bottom: 0pt;
}

.menus h1:active {
    @include rounded-borders-click;
    @include rounded-borders-transition;
    margin-top: 6pt;
    margin-bottom: 0pt;
}

.menus h2 {
    @include rounded-borders;
    font-size: 10pt;
    margin-top: 0pt;
    margin-bottom: 0pt;
    color: color.scale($text_color, $lightness: 40%);
}

.menus ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menus ul li {
    display: inline-block;
    width: max-content;
    text-align: center;
    margin-left: 4px;
}

.menus ul h2 {
    @include rounded-borders;
    @include rounded-borders-transition;
    margin-left: 0;
    margin-right: 0;
    color: $text_color;
    font-size: 12pt;
    background: transparent;
}

.menus ul a:hover h2 {
    @include rounded-borders-sel;
    @include rounded-borders-transition;
    margin-left: 0;
    margin-right: 0;
}

.menus ul a:active h2 {
    @include rounded-borders-click;
    @include rounded-borders-transition;
    margin-left: 0;
    margin-right: 0;
}
