@use "sass:color";
@use "constants" as *;

.menus {
    @include rounded-borders;
    padding: 0;
    margin: 0px;
    min-width: 100%;
    display: inline-block;
    border-bottom: 1px solid $text_color;
}

.menus h1 {
    @include rounded-borders;
    margin-top: 6pt;
    margin-bottom: 0;
    color: $text_color;
}

.menus h1:hover {
    @include rounded-borders-sel;
    margin-top: 6pt;
    margin-bottom: 0pt;
}

.menus h1:active {
    @include rounded-borders-click;
    margin-top: 6pt;
    margin-bottom: 0pt;
}

.menus h2 {
    @include rounded-borders;
    font-size: 10pt;
    margin-top: 0pt;
    margin-bottom: 0pt;
    color: color.scale($text_color, $lightness: 40%);
}

.menus ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menus ul li {
    display: inline-block;
    width: max-content;
    text-align: center;
}

.menus ul h2 {
    @include rounded-borders;
    color: $text_color;
    font-size: 12pt;
    background: transparent;
}

.menus ul h2:hover {
    @include rounded-borders-sel;
}

.menus ul h2:active {
    @include rounded-borders-click;
}
