@use "constants" as *;
@use "sass:color";

.paginate {
    display: block;
    color: $text-color;
    text-decoration: none;
}

.paginate .listbox {
    padding-left: 6pt;
    padding-right: 6pt;
}

.paginate h2 {
    color: $text-color;
    text-decoration: none;
    margin-bottom: 0;
    margin-top: 4pt;
}

.paginate h3 {
    margin: 0;
    font-size: medium;
}

.paginate ul {
    list-style-type: none;
    margin: 0pt;
    padding: 0px;
}

.paginate p {
    margin-top: 0pt;
    margin-bottom: 4pt;
}

.paginate li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.paginate-tags {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.paginate-tags li {
    @include rounded-borders;
    background-color: #00000018;
    display: inline-block;
    margin: 4px 0px 4px 0px;
    padding: 0px 4px 0px 4px;
    color: color.scale($text-color, $lightness: 20%);
    font-weight: bold;
}
