@use "constants" as *;
@use "sass:color";

.paginate {
    display: block;
}

.paginate div {
    @include rounded-borders;
    color: $text-color;
    text-decoration: none;
}

.paginate:hover div {
    @include rounded-borders-sel;
}

.paginate * {
    margin-top: 6pt;
    margin-bottom: 6pt;
}

.paginate h2 {
    color: $link-color;
    text-decoration: none;
    margin-bottom: 0;
}

.paginate h3 {
    margin: 0;
    font-size: medium;
}

.paginate ul {
    list-style-type: none;
    margin: 0px 0px 0px 4px;
    padding: 0px;
}

.paginate li {
    display: inline-block;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.paginate-tags {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.paginate-tags li {
    @include rounded-borders;
    background-color: #00000018;
    display: inline-block;
    margin: 4px 0px 4px 0px;
    padding: 0px 4px 0px 4px;
    color: color.scale($text-color, $lightness: 20%);
    font-weight: bold;
}
