@use "constants" as *;
@use "sass:color";

.resume {
    @include rounded-borders;
    padding: 4pt;
    display: block;
}

.resume h2 {
    margin: 4pt;
}

.resume-entry {
    @include rounded-borders;
    display: flex;
    align-items: center;
    background: #ddd;
    height: 50pt;
}

.resume a {
    transition: all .5s ease;
    color: $text-color;
}

:where(a) .resume-entry {
    @include rounded-borders-transition;
}

:where(a:hover) .resume-entry {
    @include rounded-borders-sel;
    @include rounded-borders-transition;
    margin-left: 0px;
    margin-right: 0px;
}

:where(a:active) .resume-entry {
    @include rounded-borders-click;
    @include rounded-borders-transition;
    margin-left: 8px;
    margin-right: 8px;
}

.resume-entry img.logo {
    display: inline;
    height: 80%;
    margin: 4pt;
    padding: 0px;
}

.resume-entry div {
    display: block;
    flex: auto;
    margin: 0px 0px 0px 4pt;
}

.resume-entry h3, .resume-entry h4, .resume-entry p {
    margin: 0;
}
