@use "constants" as *;
@use "sass:color";

.resume {
    @include rounded-borders;
    padding: 4pt;
    display: block;
}

.resume h2 {
    margin: 4pt;
}

.resume-entry {
    @include rounded-borders;
    display: grid;
    grid-template-columns:
        [image] 15mm
        [content] auto
        [arrow-pad] 7.5mm
        [arrow] 7.5mm;
    align-items: center;
    background: color.scale($bordered-background, $lightness: 50%);
    min-height: 15mm;
}

.resume a {
    transition: all .5s ease;
    color: $text-color;
    text-decoration: none;
}

:where(a) .resume-entry {
    @include rounded-borders-transition;
}

:where(a:hover) .resume-entry {
    @include rounded-borders-sel;
    @include rounded-borders-transition;
    margin-left: 0px;
    margin-right: 0px;
}

:where(a:active) .resume-entry {
    @include rounded-borders-click;
    @include rounded-borders-transition;
    margin-left: 8px;
    margin-right: 8px;
}

.resume-entry > img {
    display: inline;
    grid-column: image;
    height: 12mm;
    margin: 4pt;
    padding: 0px;
}

.resume-entry > div {
    display: block;
    grid-column: content;
    flex: auto;
    margin: 4pt;
}

.resume-entry:not(:has(img)) > div {
    grid-column: image / arrow-pad;
}

:where(a[href^=http]) div.resume-entry::after {
    grid-column: arrow;
    content: "↗";
}

.resume-entry h3,
.resume-entry h4,
.resume-entry p {
    margin: 0;
    display: block;
}

.resume a[href^=http]::after {
    content: none;
}

.resume:last-of-type {
    margin-bottom: 12pt;
}
