{{ $dateFormat := "January 01, 2006" }}
{{ if .url }}
<a href="{{ .url }}">
    {{ end }}
    <div class="resume-entry">
        {{ if .image }}
        {{ $image := resources.Get .image }}
        <img src="{{ $image.RelPermalink }}" />
        {{ end }}
        <div>
            <h3>{{ .institution }}</h3>
            <h4>{{ .area }}: {{ .studyType }}</h4>
            <p>{{ (time.AsTime .startDate).Format $dateFormat }} - {{ (time.AsTime .endDate).Format $dateFormat }}</p>
        </div>
    </div>
    {{ if .url }}
</a>
{{ end }}
