{{- $dateFormat := "January 2006" -}}
{{- if .url -}}
<a href="{{ .url }}">
    {{- end -}}
    <div class="resume-entry">
        <div>
            <h3>{{ .name }}</h3>
            {{- if .startDate -}}
            {{- if .endDate -}}
            <p>{{ (time.AsTime .startDate).Format $dateFormat }} - {{ (time.AsTime .endDate).Format $dateFormat }}</p>
            {{- else -}}
            <p>{{ (time.AsTime .startDate).Format $dateFormat }}</p>
            {{- end -}}
            {{- end -}}
            {{- if reflect.IsSlice .description -}}
            {{- range .description -}}
            <p><i>{{.}}</i></p>
            {{- end -}}
            {{- else -}}
            <i>{{ .description }}</i>
            {{- end -}}
        </div>
    </div>
    {{- if .url -}}
</a>
{{- end -}}
