body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
  cursor: default;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  text-decoration: none;
  color: #00e;
}

.paginate div {
  transition: all .5s ease;
  color: #222;
  text-decoration: none;
}

.paginate:hover div {
  transition: all .5s ease;
  margin-left: 3pt;
  padding: 0pt 2pt 0pt 2pt;
  background-color: #ddd;
  border-radius: 2pt;
  cursor: pointer;
}

.paginate h2 {
  color: #00e;
  text-decoration: none;
  transition: all .5s ease;
}

.paginate:hover h2 {
  color: #28e;
  transition: all .5s ease;
}
