{{- partial "include-sass.html" "paginate.scss" -}}

{{- $section := .Section -}}
{{- $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" -}}
{{- $dateHuman := .Date | time.Format ":date_long" -}}
<a class="paginate" href="{{ .RelPermalink }}">
    <div class="listbox">
        <h2>{{ .LinkTitle }}</h2>
        <h3 style="margin-right: .1ch;">{{ strings.Title $section }}</h3> <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
        <ul class="paginate-tags">
            {{- range .GetTerms "tags" | first 5 -}}
            <li>
                {{ .LinkTitle }}
            </li>
            {{- end -}}
        </ul>
        <p>{{ .Summary }}</p>
    </div>
</a>
