{{- $truncate := or site.Params.Home.Spotlight.CharacterLimit 2000 -}}
{{- $spotlightDateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" -}}
{{- $spotlightDateHuman := .Date | time.Format ":date_long" -}}
<div class="spotlight">
    <h1>Recent: {{ .Title }}</h1>
    <time datetime="{{ $spotlightDateMachine }}" style="margin-right: 1pt;">{{ $spotlightDateHuman }}</time>
    <p class="spotlight-section"> &mdash; {{ .Section | title }}</p>
    {{ .Content | truncate $truncate "..." }}
    <a href="{{ .RelPermalink }}" class="read-more">
        <div>Read more</div>
    </a>
</div>
